p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.boxplotBox.selected .box-rect {
  stroke: #000000;
  stroke-width: 3px;
}
.boxplotBox .box-rect {
  cursor: pointer;
}

